In [1]:
import pandas as pd
data=pd.read_csv("dataset.csv")
data

,STUDENTID,AGE,GENDER,HS_TYPE,SCHOLARSHIP,WORK,ACTIVITY,PARTNER,SALARY,TRANSPORT,...,PREP_STUDY,PREP_EXAM,NOTES,LISTENS,LIKES_DISCUSS,CLASSROOM,CUML_GPA,EXP_GPA,COURSE ID,GRADE
0,STUDENT1,2,2,3,3,1,2,2,1,1,...,1,1,3,2,1,2,1,1,1,1
1,STUDENT2,2,2,3,3,1,2,2,1,1,...,1,1,3,2,3,2,2,3,1,1
2,STUDENT3,2,2,2,3,2,2,2,2,4,...,1,1,2,2,1,1,2,2,1,1
3,STUDENT4,1,1,1,3,1,2,1,2,1,...,1,2,3,2,2,1,3,2,1,1
4,STUDENT5,2,2,1,3,2,2,1,3,1,...,2,1,2,2,2,1,2,2,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
140,STUDENT141,2,1,2,3,1,1,2,1,1,...,1,1,2,1,2,1,3,3,9,5
141,STUDENT142,1,1,2,4,2,2,2,1,4,...,1,1,3,2,2,1,5,3,9,5
142,STUDENT143,1,1,1,4,2,2,2,1,1,...,1,1,3,3,2,1,4,3,9,1
143,STUDENT144,2,1,2,4,1,1,1,5,2,...,2,1,2,1,2,1,5,3,9,4
144,STUDENT145,1,1,1,5,2,2,2,3,1,...,2,1,3,2,3,1,5,4,9,3

In [9]:
# ä½¿ç”¨corr()è¨ˆç®—ç›¸ä¼¼åº¦çŸ©é™£
similarity_matrix = data.corr()

# é¡¯ç¤ºç›¸ä¼¼åº¦çŸ©é™£
print(similarity_matrix)

                    AGE    GENDER   HS_TYPE  SCHOLARSHIP      WORK  ACTIVITY  \
AGE            1.000000  0.138233  0.294426    -0.316506 -0.181019  0.138233
GENDER         0.138233  1.000000  0.126218    -0.206876  0.190476  0.224138
HS_TYPE        0.294426  0.126218  1.000000    -0.086965 -0.155331  0.073627
SCHOLARSHIP   -0.316506 -0.206876 -0.086965     1.000000  0.055351 -0.154281
WORK          -0.181019  0.190476 -0.155331     0.055351  1.000000  0.220238
ACTIVITY       0.138233  0.224138  0.073627    -0.154281  0.220238  1.000000
PARTNER        0.042572 -0.125471  0.016557     0.120346  0.100010 -0.011406
SALARY         0.127853 -0.022154 -0.126440    -0.119024 -0.118284  0.060922
TRANSPORT      0.001472 -0.013313  0.023944     0.028288  0.102223  0.026626
LIVING        -0.199257 -0.154957 -0.018990     0.036543 -0.152641 -0.227030
MOTHER_EDU    -0.068972  0.062370 -0.166336    -0.109006  0.153780 -0.122430
FATHER_EDU    -0.070108  0.120638 -0.134322    -0.222776  0.205138 -0.113252
#_SIBLINGS     0.069748  0.060216  0.051827    -0.037831 -0.134003  0.143273
KIDS           0.172668 -0.028781  0.009990    -0.005450 -0.165492 -0.057563
MOTHER_JOB    -0.200812 -0.056143 -0.050269     0.023919 -0.044113 -0.161412
FATHER_JOB    -0.141571 -0.033997 -0.131680    -0.012785  0.005919  0.019123
STUDY_HRS     -0.172833 -0.067750 -0.174719     0.003758 -0.114824 -0.129342
READ_FREQ      0.059712  0.045206 -0.010144     0.008877 -0.096332 -0.281283
READ_FREQ_SCI  0.078849 -0.005233  0.050529     0.061543 -0.171384 -0.214557
ATTEND_DEPT   -0.226882 -0.363971 -0.009101     0.214838 -0.018640 -0.020602
IMPACT         0.007306 -0.144138  0.124317     0.041443 -0.120973 -0.024023
ATTEND         0.060027 -0.065795 -0.032180    -0.141190  0.028198  0.098693
PREP_STUDY    -0.044462 -0.032164 -0.027258     0.027357 -0.153273 -0.124062
PREP_EXAM      0.030595 -0.013833 -0.053034     0.005529 -0.246770 -0.117580
NOTES         -0.181121  0.065013  0.053969     0.164447 -0.033757 -0.035007
LISTENS        0.235576 -0.184238  0.123405     0.018147 -0.158217  0.004187
LIKES_DISCUSS -0.100812  0.065449 -0.082461     0.147922  0.078973 -0.028050
CLASSROOM      0.228884  0.223095  0.055107    -0.095411  0.027762  0.135949
CUML_GPA       0.172597  0.241033  0.019802     0.236460  0.034666  0.002171
EXP_GPA        0.121441  0.292842  0.053497     0.243517  0.007706 -0.092476
COURSE ID     -0.304994 -0.430704 -0.118761     0.317563 -0.114794 -0.326711
GRADE         -0.095251  0.335533  0.104821     0.023963  0.167445 -0.062993

                PARTNER    SALARY  TRANSPORT    LIVING  ...  PREP_STUDY  \
AGE            0.042572  0.127853   0.001472 -0.199257  ...   -0.044462
GENDER        -0.125471 -0.022154  -0.013313 -0.154957  ...   -0.032164
HS_TYPE        0.016557 -0.126440   0.023944 -0.018990  ...   -0.027258
SCHOLARSHIP    0.120346 -0.119024   0.028288  0.036543  ...    0.027357
WORK           0.100010 -0.118284   0.102223 -0.152641  ...   -0.153273
ACTIVITY      -0.011406  0.060922   0.026626 -0.227030  ...   -0.124062
PARTNER        1.000000 -0.078556   0.037811 -0.168201  ...   -0.191197
SALARY        -0.078556  1.000000  -0.015926  0.030177  ...    0.213079
TRANSPORT      0.037811 -0.015926   1.000000  0.327283  ...   -0.015048
LIVING        -0.168201  0.030177   0.327283  1.000000  ...    0.132236
MOTHER_EDU    -0.043001  0.123932   0.168831  0.159529  ...    0.195258
FATHER_EDU     0.045241  0.031212   0.090659  0.206439  ...    0.077854
#_SIBLINGS     0.033182  0.007866  -0.253099 -0.276875  ...   -0.120674
KIDS          -0.128034  0.101380  -0.033565 -0.059119  ...    0.127751
MOTHER_JOB    -0.211091  0.028451   0.274118  0.384892  ...    0.188353
FATHER_JOB    -0.176901 -0.109689  -0.116259  0.016447  ...   -0.047039
STUDY_HRS      0.048897 -0.097935   0.007134 -0.021241  ...   -0.145267
READ_FREQ      0.090581 -0.072357  -0.046942 -0.081128  ...   -0.046113
READ_FREQ_SCI -0.004119  0.009390  -0.124146 -0.155241  ...    0.069540
ATTEND_DEPT    0.103634 -0.106800   0.059791  0.179520  ...    0.069295
IMPACT         0.038636  0.059872   0.070998  0.001039  ...    0.170210
ATTEND         0.154225  0.111506  -0.056759 -0.135860  ...   -0.126975
PREP_STUDY    -0.191197  0.213079  -0.015048  0.132236  ...    1.000000
PREP_EXAM     -0.031005  0.048955  -0.094471  0.009870  ...    0.273440
NOTES          0.005818 -0.235900   0.022769  0.066609  ...   -0.053909
LISTENS       -0.054734 -0.050648  -0.019064  0.146396  ...    0.038441
LIKES_DISCUSS -0.000480 -0.031225  -0.134057 -0.024462  ...   -0.004898
CLASSROOM     -0.082664 -0.037184  -0.158432 -0.136949  ...   -0.105041
CUML_GPA      -0.058479 -0.100950  -0.036078 -0.082775  ...   -0.087524
EXP_GPA       -0.012658 -0.058644   0.005909 -0.007332  ...   -0.067562
COURSE ID      0.068769 -0.123024   0.114839  0.271997  ...    0.150972
GRADE         -0.051778 -0.166352  -0.156289  0.023683  ...    0.014638

               PREP_EXAM     NOTES   LISTENS  LIKES_DISCUSS  CLASSROOM  \
AGE             0.030595 -0.181121  0.235576      -0.100812   0.228884
GENDER         -0.013833  0.065013 -0.184238       0.065449   0.223095
HS_TYPE        -0.053034  0.053969  0.123405      -0.082461   0.055107
SCHOLARSHIP     0.005529  0.164447  0.018147       0.147922  -0.095411
WORK           -0.246770 -0.033757 -0.158217       0.078973   0.027762
ACTIVITY       -0.117580 -0.035007  0.004187      -0.028050   0.135949
PARTNER        -0.031005  0.005818 -0.054734      -0.000480  -0.082664
SALARY          0.048955 -0.235900 -0.050648      -0.031225  -0.037184
TRANSPORT      -0.094471  0.022769 -0.019064      -0.134057  -0.158432
LIVING          0.009870  0.066609  0.146396      -0.024462  -0.136949
MOTHER_EDU     -0.010928 -0.023497 -0.027450       0.017689  -0.035607
FATHER_EDU     -0.047816  0.073653 -0.081400      -0.051725   0.072915
#_SIBLINGS      0.120378 -0.006729  0.102455       0.160517   0.173759
KIDS            0.341596 -0.215903 -0.049893      -0.066199  -0.003010
MOTHER_JOB      0.008300  0.025480 -0.113370       0.007972  -0.127259
FATHER_JOB     -0.055816 -0.025375 -0.026744      -0.025866  -0.054173
STUDY_HRS       0.281668  0.163465 -0.107697       0.020040   0.014943
READ_FREQ       0.040021  0.029691 -0.101711       0.064246   0.189729
READ_FREQ_SCI   0.084044  0.111801  0.016960      -0.038018   0.037870
ATTEND_DEPT     0.118555  0.212451  0.007246       0.022730  -0.146074
IMPACT         -0.027914  0.055504 -0.011467      -0.113204  -0.046727
ATTEND         -0.189765 -0.145107 -0.094221      -0.073821   0.074998
PREP_STUDY      0.273440 -0.053909  0.038441      -0.004898  -0.105041
PREP_EXAM       1.000000  0.057903 -0.108951       0.184693   0.076236
NOTES           0.057903  1.000000 -0.024751       0.283639   0.155536
LISTENS        -0.108951 -0.024751  1.000000      -0.036527   0.019617
LIKES_DISCUSS   0.184693  0.283639 -0.036527       1.000000   0.141875
CLASSROOM       0.076236  0.155536  0.019617       0.141875   1.000000
CUML_GPA        0.183201  0.143541  0.055427       0.220125   0.180940
EXP_GPA         0.197000  0.184990 -0.020135       0.234751   0.114760
COURSE ID       0.077465  0.179658  0.135596      -0.019276  -0.334647
GRADE           0.073783  0.044862  0.085137       0.146547   0.110617

               CUML_GPA   EXP_GPA  COURSE ID     GRADE
AGE            0.172597  0.121441  -0.304994 -0.095251
GENDER         0.241033  0.292842  -0.430704  0.335533
HS_TYPE        0.019802  0.053497  -0.118761  0.104821
SCHOLARSHIP    0.236460  0.243517   0.317563  0.023963
WORK           0.034666  0.007706  -0.114794  0.167445
ACTIVITY       0.002171 -0.092476  -0.326711 -0.062993
PARTNER       -0.058479 -0.012658   0.068769 -0.051778
SALARY        -0.100950 -0.058644  -0.123024 -0.166352
TRANSPORT     -0.036078  0.005909   0.114839 -0.156289
LIVING        -0.082775 -0.007332   0.271997  0.023683
MOTHER_EDU    -0.065851 -0.072417   0.107332  0.066318
FATHER_EDU    -0.081027 -0.188972  -0.068783  0.063504
#_SIBLINGS     0.135240  0.085065  -0.178987  0.084470
KIDS           0.085872  0.183650   0.076921  0.066379
MOTHER_JOB    -0.016276 -0.006165   0.138063 -0.030747
FATHER_JOB    -0.030203  0.064253   0.036315 -0.044268
STUDY_HRS      0.008145  0.066071   0.172280 -0.033065
READ_FREQ     -0.075979  0.064566   0.079710  0.195617
READ_FREQ_SCI -0.071658  0.190187   0.125221  0.003189
ATTEND_DEPT   -0.192637 -0.045090   0.434601 -0.184763
IMPACT        -0.097340 -0.099526   0.105300 -0.203273
ATTEND        -0.178305 -0.182535  -0.196372 -0.139564
PREP_STUDY    -0.087524 -0.067562   0.150972  0.014638
PREP_EXAM      0.183201  0.197000   0.077465  0.073783
NOTES          0.143541  0.184990   0.179658  0.044862
LISTENS        0.055427 -0.020135   0.135596  0.085137
LIKES_DISCUSS  0.220125  0.234751  -0.019276  0.146547
CLASSROOM      0.180940  0.114760  -0.334647  0.110617
CUML_GPA       1.000000  0.657853  -0.136473  0.315493
EXP_GPA        0.657853  1.000000   0.016830  0.248588
COURSE ID     -0.136473  0.016830   1.000000  0.142166
GRADE          0.315493  0.248588   0.142166  1.000000

[32 rows x 32 columns]

In [10]:
similarity_matrix.to_csv("similarity_matrix.csv")